.resume {
    display: flex;
    padding: 10px;
    background-color: rgb(179, 178, 178);
    line-height: 1.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

h1 {
    margin-top: 0 0 10px 0;
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color: azure;
    border-radius: 10px;
    font-size: 1.5em;
}

img {
    border: 2px solid rgb(79, 201, 231);
    border-radius: 50%;
    margin-left: 120px;
    margin-bottom: 0;
}

.right {
    padding: 30px;
    margin: 5px;
    width: 35%;
    height: 1000px;
    border: 3px solid rgb(61, 159, 216);
    background-color: lightslategrey;
}

.contact {
    margin: 30px;
    height: 300px;
}

.skills {
    height: 300px;
}

.left {
    padding: 30px;
    margin: 5px;
    width: 65%;
    height: 1000px;
    border: 3px solid rgb(61, 159, 216);
    background-color: rgb(76, 233, 228);
}

.profile {
    height: 200px;
}

.experience {
    height: 200px;
}

.education {
    height: 150px;
}

.certifications {
    height: 400px;
}
